<div class="flex flex-col items-start justify-start w-full h-full gap-4 pb-4 animate-slideFromDown">
    <div class="flex items-center justify-between w-full mt-8 h-max">
        <fleet-title [title]="'Logs'" [subTitle]="'Contains the logs of the robot'" [type]="1"></fleet-title>

        <div class="flex gap-3">
            <button [routerLink]="'/options'" class="size-[62px] rounded-[6px] bg-lavender flex items-center justify-center">
                <ranjangaon-icons [icon]="'goBack'" [size]="34" [color]="'#FFFFFF'"></ranjangaon-icons>
            </button>
            <button [routerLink]="'/'" class="size-[62px] rounded-[6px] bg-primary flex items-center justify-center">
                <ranjangaon-icons [icon]="'home'" [size]="34" [color]="'#FFFFFF'"></ranjangaon-icons>
            </button>
        </div>
    </div>

    <div class="w-full h-full mt-4 overflow-scroll">
        <div class="grid w-full grid-cols-3 gap-4 h-max">
            @for (log of logs; track $index) {
                <button [routerLink]="['/logs/view', log.split('.')[0]]" routerLinkActive="router-link-active"  class="w-full h-[108px] border-2 border-lightGray rounded-[14px] flex flex-col justify-center items-start p-4">
                    <p class="text-[14px] text-darkAsh">Log File Name</p>
                    <p class="text-[40px] w-[220px] overflow-ellipsis whitespace-nowrap overflow-hidden font-semibold text-black">{{log.split('.')[0]}}</p>
                </button>
            }
        </div>
    </div>


</div>
