<div class="flex flex-col items-start justify-start w-full h-full gap-4 pb-4 animate-slideFromDown">
    <div class="flex items-center justify-between w-full mt-8 h-max">
        <fleet-title [title]="'Password Requried'" [subTitle]="'Enter the password to view the logs'" [type]="1"></fleet-title>

        <button [routerLink]="'/'" class="size-[62px] rounded-[6px] bg-primary flex items-center justify-center">
            <ranjangaon-icons [icon]="'home'" [size]="34" [color]="'#FFFFFF'"></ranjangaon-icons>
        </button>
    </div>

    <div class="flex flex-col items-center justify-start w-full h-full mt-16">

        <div class="flex items-center justify-center gap-4 w-max h-max">
            @for (cont of [].constructor(6); track $index) {
                <div class="flex items-center justify-center size-[100px] rounded-[16px] bg-racks overflow-hidden">
                    <div [ngClass]="{'animate-vibrate': isWrongPassword}" *ngIf="password[$index] !== undefined" class="bg-darkAsh size-[30px] rounded-[6px] duration-150 animate-vibrate"></div>
                </div>
            }
        </div>

        <div class="grid grid-cols-3 gap-6 mt-24 w-max h-max">
            @for (keys of [].constructor(9); track $index) {
                <button (click)="keyPadAction($index+1)" class="w-[125px] h-[125px] bg-keys flex items-center justify-center rounded-[16px] active:bg-lightGray">
                    <p class="text-[40px] font-medium text-black">{{$index+1}}</p>
                </button>
            }

            <button (click)="keyPadAction('CE')" class="w-[125px] h-[125px] bg-keys flex items-center justify-center rounded-[16px] active:bg-lightGray">
                <p class="text-[36px] font-medium text-black">CE</p>
            </button>

            <button (click)="keyPadAction(0)" class="w-[125px] h-[125px] bg-keys flex items-center justify-center rounded-[16px] active:bg-lightGray">
                <p class="text-[40px] font-medium text-black">0</p>
            </button>

            <button (click)="keyPadAction('C')" class="w-[125px] h-[125px] bg-keys flex items-center justify-center rounded-[16px] active:bg-lightGray">
                <ranjangaon-icons [icon]="'backspace'" [size]="45" [color]="colors.darkAsh"></ranjangaon-icons>
            </button>
        </div>



    </div>
</div>
