<div class="relative flex items-center justify-center w-screen h-screen overflow-hidden">
  <p-toast [preventOpenDuplicates]="true" position="top-center"></p-toast>
  <div [ngClass]="{'animate-screenSaverIn': isScreenSaver, 'animate-screenSaverOut': !isScreenSaver}" class="absolute top-0 left-0 z-50 flex items-center justify-center w-full h-full translate-x-0">
    <ranjangaon-screen-saver></ranjangaon-screen-saver>
  </div>
  <ranjangaon-layout></ranjangaon-layout>
</div>

<!-- <fleet-popup *ngIf="isBatteryLow && liveData?.live && false" [isClose]="false" [title]="'Battery Low!!'">
    <div class="flex flex-col items-start justify-start w-full h-max">
        <div class="flex items-center justify-center w-full py-12 h-max">
            <ranjangaon-icons [icon]="'lowBattery'" [size]="150" [color]="colors.dialogIcon"></ranjangaon-icons>
        </div>

        <p class="text-[20px] mt-4 leading-[45px]">Battery level is low.</p>

        <span class="w-full mt-6">
            <p class="text-[22px] font-semibold text-primary">Note</p>
            <p class="text-[20px] mt-1 leading-[45px]">The current task will continue. Once all tasks are completed, the robot will be automatically assigned to the charging station.</p>
        </span>
    </div>
</fleet-popup> -->
