<div class="w-full h-full mt-4 overflow-scroll">
    <div class="flex flex-col items-start justify-start gap-4">
        <!-- Acknowledgement timer -->
         <div class="flex items-start justify-between p-5 border-2 border-lightGray rounded-[8px]">
            <span>
                <span class="flex items-center justify-start w-full">
                    <p class="text-[24px] text-primary">Acknowledgement timer</p>
                    <ranjangaon-icons [icon]="'edit'" [size]="24" [color]=""></ranjangaon-icons>
                </span>
            </span>
         </div>
    </div>
</div>
