<div class="flex absolute z-50 top-0 left-0 w-full h-full shadow-[0_0_10px_#FFFFFF30] bg-white bg-opacity-30 backdrop-blur-sm items-center justify-center">

  <div class="flex flex-col scale-[0.18] items-center justify-center">
    <div class="flex gap-[32px] w-full h-full items-end justify-center">
      <img src="../../../assets/Logo/LoadingScreen/1.png" alt="First tower" class="select-none image1">
      <img src="../../../assets/Logo/LoadingScreen/2.png" alt="Second tower" class="select-none image2">
      <img src="../../../assets/Logo/LoadingScreen/3.png" alt="Thrid tower" class="select-none image3">
    </div>

    <div class="items-center justify-center w-full h-full select-none">
      <img src="../../../assets/Logo/LoadingScreen/motherson.png" alt="Title" class="select-none img" >
    </div>
  </div>

</div>



